# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
.env
.venv
env/
venv/
ENV/
.conda/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 临时文件
*.log
*.tmp
test/
temp/
tmp/

# 其他项目特定文件
entrance.bat
scripts/
README.md
LICENSE
.gitattributes 